/*  ----------------------------------------------------------------
Custom CSS

Add all your Custom Styled CSS here for New Styles or
Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
EDIFY BRAND FONT Styles
-----------------------------------------------------------------*/


h1 {
  font-family: 'filsonsoft-medium';
  font-size: 3.5em;
  color: #0a2323;
  font-weight: normal;
}

h2 {
  font-family: 'filsonsoft-medium';
  font-size: 3em;
  color: #23544f;
  font-weight: normal;
}

h3 {
  font-family: 'filsonsoft-medium';
  font-size: 2em;
  color: #43a1a0;
  text-transform: uppercase;
  font-weight: normal;
}

h4 {
  font-family: 'filsonsoft-book';
  font-size: 1.5em;
  color: #0a2323;
  font-weight: normal;
}

.button {
  font-family: 'filsonsoft-regular';
  font-size: 10px;
  text-transform: uppercase;
  color: #ebeb2d;
  color: #43a1a0;
}



.heading-block h1, .emphasis-title h1 {
  color: #0a2323;
  font-size: 3.5em;
}

.heading-block h2, .emphasis-title h2 {
  color: #23544f;
  font-size: 2.5em;
}

.heading-block h3 {
  color: #43a1a0;
  font-size: 1.5em;
}

.heading-block h4 {
  color: #0a2323;
}


.ipost .entry-title h3 a, .ipost .entry-title h4 a {
    color: #0a2323;
    font-size: 1.1em;
}

.color {
    color: #43a1a0 !important;
}

img.icon-edify-small {
 width: 1.75em;
 height: 1.75em;
 line-height: 1em;
 margin: 0 10px 0 10px;
 opacity: .2;
}

img.icon-edify {
 width: 3em!important;
 height: 3em!important;
 line-height: 1em;
 margin: 0 10px 0 10px;
 opacity: 1;
}
img.icon-edify-color {
 width: 3em!important;
 height: 3em!important;
 line-height: 1em;
 margin: 0 10px 0 10px;
 opacity: 1;
}

.divider:after, .divider.divider-center:before, .divider.divider-center.divider-short:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 30px;
    height: 0;
    border-top: 1px solid rgba(10, 35, 35, .5);
    opacity: .2;
}
.divider.divider-center.divider-short:before {
  margin-right: 25px;
}
.divider.divider-center.divider-short:after {
  margin-left: 25px;
}


/*

H1:
  Filson Soft Medium
  32 pt,
  #0a2323

H2
  Filson Soft Medium
  20 pt,
  #23544f

H3
  Filson Soft Medium
  14 pt,
  all caps,
  #43a1a0

H4
  Filson Soft Book
  15 pt,
  #0a2323

Button
  Filson Soft Regular
  10 pt,
  all caps,
  #ebeb2d,
  #43a1a0

*/


/* ----------------------------------------------------------------
HOME SLIDER & Header Styles
-----------------------------------------------------------------*/

.slider-overlay {
background-color: rgba(0,0,0, 0.3);
background-size: cover;
height: 100%;
width: 100%;
z-index: 10;
position: absolute;
}

#primary-menu ul li:hover > a, #primary-menu ul li.current > a {
color: #43a1a0;
}
#primary-menu ul li > a {
color: #0a2323;
}


/* ----------------------------------------------------------------
FOOTER Styles
-----------------------------------------------------------------*/

a.social-icon {
  margin-right: 1em;
}

#copyrights a {
  color: rgba(255,255,255,0.25);
}
#copyrights a:hover {
  color: rgba(255,255,255,0.5);
}

@media all and (max-width: 480px) {
  #footer .footer-big-contacts {
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 1px;
  }
}

/* ----------------------------------------------------------------
Kristen Bio Styles
-----------------------------------------------------------------*/

.crop-height {
  /* max-width: 1200px; /* img src width (if known) */
  max-height: 600px;
  overflow: hidden;
}

img.scale {
  /* corrects inline gap in enclosing div */
  display: block;
  max-width: 100%;
  background-position: center top;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  width: auto\9; /* ie8+9 */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic;
}

img.blog-bio {
  padding-bottom: 2em;
}


/* ----------------------------------------------------------------
Admin Page Styles
-----------------------------------------------------------------*/

#admin-page ul.tab-nav.tab-nav2 li.ui-state-active a {
  top: 0;
  background-color: #43a1a0;
  color: #FFF;
}

#admin-page .side-tabs ul.tab-nav {
  float: left;
  width: 270px;
  padding: 20px 0;
  border-bottom: 0;
  border-right: 0px solid transparent;
  margin-right: 20px;
}

#admin-page .side-tabs .tab-container {
    overflow: hidden;
    padding: 20px 0 0 0px;
    margin-right: 30px;
}
#admin-page p {
  margin-bottom: 10px;
  font-size: 16px;
}
#admin-page li {
  margin-bottom: 10px;
  font-size: 16px;
  padding-left: 10px;
}
#admin-page i {
  margin-left: 10px;
}
#admin-page h5, h6 {
  font-family: 'filsonsoft-regular';
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.25em;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
#admin-page h4 {
  margin-bottom: 20px;
}
#admin-page ol.metadata-description p {
  font-size: 12px;
}

/* ----------------------------------------------------------------
MAIL CHIMP Styles
-----------------------------------------------------------------*/
#contact #mc_embed_signup #mce-success-response.response {
    color: #555!important;
    font-size: 16px!important;
    font-weight: 400!important;
    margin-top: 0px;
    line-height: 1.5em;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    width: 100%!important;
    display: none;
}

#contact #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    display: inline-block;
    margin: 2px 0 1em 0;
    padding: 5px 10px;
    background-color: transparent!important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px!important;
    font-weight: 400!important;
    z-index: 1;
    /*color: #BBB!important;*/
}
#contact #mc_embed_signup .mc-field-group input {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
    color: black!important;
}

#footer #mc_embed_signup #mce-success-response.response {
    color: #BBB!important;
    font-size: 16px!important;
    font-weight: 400!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    width: 100%!important;
    display: none;
}

#footer #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    display: inline-block;
    margin: 2px 0 1em 0;
    padding: 5px 10px;
    background-color: transparent!important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px!important;
    font-weight: 400!important;
    z-index: 1;
    color: #BBB!important;
}
#footer #mc_embed_signup .mc-field-group input {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
    color: black!important;
}

/* ----------------------------------------------------------------
HOME Page Styles
-----------------------------------------------------------------*/

.button,  #mc_embed_signup .button.button-blue {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  margin: 5px;
  padding: 0 22px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  background-color: #43a1a0;
  color: #FFF;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 50px;
}
.button:hover, #mc_embed_signup .button.button-blue:hover  {
background-color: #257878;
}

.button.button-light, input#mc-embedded-subscribe.button.button-light {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  margin: 5px;
  padding: 0 22px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  background-color: #ebeb2d;
  color: #0a2323;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 50px;
}
.button.button-light:hover {
background-color: #f1f16c;
}

.dark .button-dark:not(.button-border), .dark .button:hover {
    background-color: #257878;
}

.feature-box.fbox-border .fbox-icon {
  border: 1px solid #43a1a0;
  border-radius: 50%;
}

.feature-box.fbox-border .fbox-icon i, .feature-box.fbox-border .fbox-icon img {
  border: none;
  background-color: transparent !important;
  color: #43a1a0;
}

.fancy-title.title-bottom-border h1, .fancy-title.title-bottom-border h2, .fancy-title.title-bottom-border h3, .fancy-title.title-bottom-border h4, .fancy-title.title-bottom-border h5, .fancy-title.title-bottom-border h6 {
  display: block;
  background: transparent;
  padding: 0 0 10px;
  border-bottom: 2px solid #43a1a0;
}

.clients-grid li a {
filter: grayscale(100%) brightness(300%) invert(50%);
-webkit-filter: grayscale(100%) brightness(300%) invert(50%);
-o-filter: grayscale(100%) brightness(300%) invert(50%);
-webkit-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
}
.clients-grid li a:hover {
filter: grayscale(0%) brightness(100%) invert(0%);
-webkit-filter: grayscale(0%) brightness(100%) invert(0%);
-o-filter: grayscale(0%) brightness(100%) invert(0%);
}

body:not(.device-touch) .clients-grid li a {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}


.testimonial .flex-control-nav li a {
background-color: #43a1a0;
opacity: 0.5;
}

.ipost .entry-title h3 a:hover, .ipost .entry-title h4 a:hover {
  color: #43a1a0;
}

.entry-meta li a:hover {
  color: #43a1a0;
}

a {
  text-decoration: none !important;
  color: #43a1a0;
}

p.services-text {
  font-size: 1.2em!important;
  font-weight: 300;
  padding-right: 1.5em;
}
#services .col_one_third {
  padding-right: 2em;
}
#services .col_one_third.col_last {
  margin-right: -2em!important;
}


@media all and (max-width: 768px) {
 #client-testimonial div.container {
    width: 390px !important;
  }
  #client-testimonial blockquote {
     font-size: 1.2em;

   }
  #client-testimonial .testi-content p {
      font-style: normal;
      font-weight: 300;
      letter-spacing: 1px;
  }
}


/* ----------------------------------------------------------------
Blog Page Styles
-----------------------------------------------------------------*/
.post-image {
  background: url();
}


.highlight {
  clear: both;
}
.single-post .entry-content .entry-image {
    max-width: 100%;
}

div.entry-content.entry-image-half-width.entry-image img {
  display: block;
  position: relative;
  width: 50%!important;
  float: left;
  height: auto;
  padding-right: 3em;
  margin-bottom: 3em;
}

div.entry-content.entry-image-half-width.entry-image img:not(:first-of-type) {
  float: right;
  padding-left: 3em;
  padding-right: 0px;
}

div.entry-content.entry-image-full-width.entry-image img {
  display: block;
  position: relative;
  width: 100%!important;
  height: auto;
}

div.entry-content.entry-image-half-width blockquote {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eee;
  border-left: 0;
  text-align: right;
}

.entry-meta li {
  float: left;
  font-size: 13px;
  line-height: 14px;
  margin: 0 10px 15px 0;
  color: #999;
  font-family: 'filsonsoft-book', serif;
  font-style: normal;
}


/* ----------------------------------------------------------------
Blog Page Styles
-----------------------------------------------------------------*/

h1 > span:not(.nocolor), h2 > span:not(.nocolor), h3 > span:not(.nocolor), h4 > span:not(.nocolor), h5 > span:not(.nocolor), h6 > span:not(.nocolor) {
  color: #43a1a0;
}
.feature-box.fbox-plain .fbox-icon i, .feature-box.fbox-plain .fbox-icon img {
  color: #43a1a0;
}
.entry-title h2 a:hover {
    color: #43a1a0;
}
.tagcloud a:hover {
    border-color: #43a1a0 !important;
    color: #43a1a0 !important;
}
.spost .entry-title h4 a:hover, .mpost .entry-title h4 a:hover {
    color: #43a1a0;
}
.breadcrumb a:hover {
    color: #43a1a0;
}


/* ----------------------------------------------------------------
About Page Styles
-----------------------------------------------------------------*/

.slider-caption-bg.slider-caption-bg-light {
    background-color: rgba(255,255,255,0.8);
    color: #0a2323;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

div.flex-caption.slider-caption-bg.slider-caption-bg-light.slider-caption-top-left h4, div.flex-caption.slider-caption-bg-light.slider-caption-top-right h4 {
  margin-bottom: 20px;
  margin-top: 0px;
}

.slider-caption-bg {
    padding: 25px 32px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.6);
    left: 100px;
}
.slider-caption-top-right {
    top: 50px;
    bottom: auto;
    left: auto;
    right: 100px;
    background-color: rgba(255,255,255,0.8);
    color: #0a2323;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.flex-caption {
  max-width: 700px;
  padding: 2em;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  -webkit-transition: top .3s ease;
  -o-transition: top .3s ease;
  transition: top .3s ease;
}

blockquote.about-page {
    padding: 0px 20px;
    margin: 30px 0 30px;
    font-size: 17.5px;
    border-left: 3px solid rgba(10, 35, 35, 0.7);
    margin-left: 20px;
}
span.about-slider {
  margin-bottom: 1em;
  font-weight: 300;
}

.flex-caption.slider-caption-bg-light.slider-caption-top-right ul {
  margin-bottom: 0px;
}

#about-page .iconlist > li [class^="icon-"]:first-child, .iconlist > li [class*=" icon-"]:first-child {
    position: absolute;
    left: -2.75em;
    width: 1.75em;
    text-align: center;
    top: 1px;
    width: 14px;
    font-size: 5px;
    padding-top: 13px;
    padding-right: 10px;
}


#about-page div.col_half {
  padding-right: 2em;
}
#about-page div.col_half.col_last {
  padding-left: 2em;
}

@media all and (max-width: 767px) {
  #about-page div.col_half.col_last {
    padding-left: 0px;
  }
  #about-page div.col_half {
    padding-right: 0px;
  }
}

#about-page #slider h4 {
  font-size: 1.25em;
}

@media all and (max-width: 991px) {
  #about-page #slider h4{
    margin-bottom:10px;
  }
  .flex-caption {
    max-width: 500px;
    padding: 1em;
    font-size: 15px;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    -webkit-transition: top .3s ease;
    -o-transition: top .3s ease;
    transition: top .3s ease;
  }
  blockquote.about-page {
    padding: 0px 20px;
    margin: 15px 0 15px;
    font-size: 15px;
    border-left: 3px solid rgba(10, 35, 35, 0.7);
    margin-left: 20px;
  }
}

/* ----------------------------------------------------------------
Process Page Styles
-----------------------------------------------------------------*/
#process .feature-box.media-box.fbox-bg, #process .feature-box.media-box.fbox-bg {
  -webkit-filter: drop-shadow(none);
  filter: drop-shadow(none);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#process .feature-box.media-box.fbox-bg:hover, #process .feature-box.media-box.fbox-bg:hover  {
  -webkit-filter: drop-shadow(4px 5px 6px rgba(10, 35, 35, 0.3));
  filter: drop-shadow(4px 5px 6px rgba(0,0,0,0.3));
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#process .feature-box.media-box.fbox-bg .about-button {
  position: absolute;
  bottom: 20px;
  left: 85px;
}

#process .feature-box.media-box.fbox-bg:hover .about-button .button.button-light {
  border-bottom: 3px solid rgba(94,94,18,.15);
  -webkit-transition: all .01s ease;
  -o-transition: all .01s ease;
  transition: all .01s ease;
}

i.icon-line-square-plus {
  opacity: .2;
  color: #0a2323;
  font-size: 1.4em;
}

#process .feature-box.media-box.fbox-bg:hover .fbox-desc h4, #process .feature-box.media-box.fbox-bg:hover i.icon-share-alt {
 text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
 -webkit-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
 opacity: 1;
 color: #0a2323;
}

.feature-box.media-box .fbox-media {
  max-height: 300px;
  position: relative;
}

.fbox-desc {
  z-index: 3;
  top: 125px;
  position: absolute;
  width: 100%;
  padding-bottom: 0px;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  height: 300px;
}


.feature-box.media-box.fbox-bg .fbox-desc.fbox-desc-back {
  background-color: #65b399;
  border: 1px solid #65b399;
  top: -1px;
  padding-top: 50px;
  border-top: 1;
  border-radius: 5px;
  height: inherit;
  height: 425px;
}

h4.flip-back {
  margin-top: 10%;
  margin-bottom: 20%;
  line-height: 1.75em;
  color: #FFF!important;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
h4.flip-front {
  margin-top: 5%;
  margin-bottom: 13%;
  line-height: 1.75em;
}

.fbox-media img {
  background-position: center;
}

.flipi {
  max-width: 33%;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
  margin-top: -90px;
}

#process .flip-arrow {
 margin-left: 80%;
 bottom: 15px;
 position: absolute;
 z-index: 3;
}
@media all and (max-width: 1199px) {
  h4 {
    font-size: 1.4em;
    line-height: 1.2em;
  }
  .feature-box.media-box.fbox-bg .fbox-desc.fbox-desc-back {
    padding-top: 20px;
  }
}
@media all and (max-width: 479px) {
  #process .container {
    width: 390px !important;
  }
}


/* ----------------------------------------------------------------
CONTACT Styles
-----------------------------------------------------------------*/
 #contact .feature-box {
    position: relative;
    margin-top: 20px;
    padding: 0 0 0 70px;
}
#contact .feature-box.fbox-plain .fbox-icon i {
  font-size: 2.75em;
  line-height: 1.25 !important;
}

@media all and (max-width: 480px) {
  #contact .feature-box.fbox-plain .fbox-icon i {
    font-size: 2.25em;
    line-height: 1.25 !important;
  }
  #contact .feature-box h3 {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
  #contact .feature-box .fbox-icon {
    width: 30px;
    height: 64px;
  }
  #contact .feature-box {
    position: relative;
    margin-top: 20px;
    padding: 0 0 0 40px;
  }

 #contact h4 {
    font-size: 1.25em;
  }
}
