---
layout: home-layout
published: true
---

<!-- START Services Section -->
{% include services.html %}
<!-- END Services Section -->


<!-- START Featured Posts Section -->
<div class="section nobg notopmargin" id="feature-post">
  <div class="container">
    <div class="fancy-title title-border">
      <h4>Featured Posts</h4>
    </div>

    {% for post in site.posts limit:4 %}
      {% if post.feature_post %}
        <div class="col-md-4 bottommargin">
          <div class="ipost clearfix">
            <div class="entry-image">
              <a href="{{ post.url }}"><img class="image_fade" src="/img/{{ post.image }}" alt="{{ post.image_alt }}" style="opacity: 0.8;"></a>
            </div>
            <div class="entry-title">
              <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            </div>
            <ul class="entry-meta clearfix">
              <li><i class="icon-calendar3"></i>{{ post.date | date_to_string }}</li>
              {% if post.categories[0] %}
                <li><i class="icon-folder-close-alt"></i><a href="/category/{{ post.categories | first | slugify }}">{{ post.categories | first }}</a></li>
              {% endif %}
            </ul>
            <div class="entry-content">
              <p>
                {{ post.short_description }}
                <br><span><a class="more-link" href="{{ post.url }}"> See More <i class="icon-line-arrow-right" style="padding-left: 3px;"></i></a></span>
              </p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <div class="clear"></div>
  </div>
</div>
<!-- END Featured Posts Section -->


<!-- START Client Section -->
<div id="client-testimonial" class="section nobottommargin nobg" style="padding-bottom: 150px;">
  <div class="container clearfix">

    <div class="heading-block">
      <h2>Our Clients</h2>
      <span>We've worked with companies across the industry to deliver the highest quality onboarding, manager development, and learning programs:</span>
    </div>

    <div class="col-md-7 nobottommargin hidden-xs">
      <ul class="clients-grid grid-2 nobottommargin clearfix">

        {% for client in site.data.clients %}
          <li>
            <a href="http://{{ client.client_website_url }}"><img src="/img/{{ client.logo }}" alt="{{ client.company_name }} Logo"></a>
          </li>
        {% endfor %}

      </ul>
    </div>

    <div class="bottommargin visible-xs">
      <ul class="clients-grid grid-1 nobottommargin clearfix">

        {% for client in site.data.clients %}
          <li>
            <a href="{{ client.client_website_url }}"><img src="/img/{{ client.logo }}" alt="{{ client.company_name }} Logo"></a>
          </li>
        {% endfor %}

      </ul>
    </div>

    <div class="col-md-5 nobottommargin">

      <div class="fslider testimonial" data-animation="fade" data-arrows="false" data-pause="10000">
        <div class="flexslider">
          <div class="slider-wrap">

            {% for client in site.data.clients %}

              <div class="slide">
                <div class="testi-content">
                  <blockquote class="quote" style="margin-bottom: 20px;">
                    <p class="client-testimonial">
                      {{ client.testimonial }}
                    </p>
                  </blockquote>
                  <div class="testi-meta" style="margin-bottom: 3em; margin-left: 25px;">
                    {{ client.company_name }}
                    {% if client.client_testimonial_name != "" %}
                      <span>{{ client.client_testimonial_name }}, &nbsp; {{ client.client_testimonial_job_title }}</span>
                    {% else %}

                    {% endif %}

                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- END Client Section -->
