 <!--  Page Title
============================================= -->
<section id="page-title" class="page-title">

  <div class="container clearfix">
    <h1>Blog Post</h1>
    <!-- <span>{{ page.tagline }}</span> -->
    <ol class="breadcrumb">
      <li><a href="/index">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="{{ page.categories }}">{{ page.categories }}</a></li>
      <li class="active">{{ page.title | truncate: 30 }}</li>
    </ol>
  </div>

</section>
<!-- #page-title end -->