<!-- Page Title
============================================= -->
<section id="page-title" class="page-title">

  <div class="container clearfix">
    {% if page.url contains "/blog" or page.url contains "/category" %}
      <h1>Blog</h1>
    {% else %}
      <h1>{{ page.title }}</h1>
    {% endif %}
    {% if page.url contains "/blog" or page.url contains "/category" %}
      {% if page.tagline %}
      <span>{{ page.tagline }}</span>
      {% elsif page.categories | first %}
      <span>{{ page.categories | first }} with Edify</span>
      {% elsif page.autopages %}
      <span>{{ page.autopages.display_name }} with Edify</span>
      {% endif %}
    {% else %}
    <span>{{ page.tagline }}</span>
    {% endif %}
    {% if page.url contains "/category" or (page.title != "Blog" and page.url contains "/blog") %}
    <ol class="breadcrumb">
      <li><a href="/blog">Blog</a></li>
      {% if page.categories | first %}
        <li><a href="/category/{{ page.categories | first | slugify }}">{{ page.categories | first }}</a></li>
      {% endif %}
      {% if page.autopages.display_name %}
        <li class="active">{{ page.autopages.display_name | truncate: 30 }}</li>
      {% else %}
        <li class="active">{{ page.title | truncate: 30 }}</li>
      {% endif %}
    </ol>
    {% endif %}
  </div>

</section>
<!-- #page-title end -->
