<!-- START Client Section 3A -->
<div class="section nobottommargin nobg" style="padding-bottom: 150px;">
  <div class="container clearfix">

    <div class="heading-block">
      <h2>Our Clients (option 1)</h2>
      <span>These are the companies we have worked with.</span>
    </div>

    <div class="col-md-7 nobottommargin">
      <ul class="clients-grid grid-2 nobottommargin clearfix">

        {% for client in site.clients %}
          <li>
            <a href="{{ client.website }}"><img src="/img/{{ client.logo }}" alt="{{ client.company_name }} Logo"></a>
          </li>
        {% endfor %}

      </ul>
    </div>

    <div class="col-md-5 nobottommargin">

      <div class="fslider testimonial" data-animation="fade" data-arrows="false">
        <div class="flexslider">
          <div class="slider-wrap">

            {% for client in site.clients %}

              <div class="slide">
                <div class="testi-content">
                  <blockquote class="quote">
                    <p>
                      {{ client.testimonial }}
                    </p>
                  </blockquote>
                  <div class="testi-meta">
                    {{ client.company_name }}
                    <span>{{ client.client_testimonial_name }}, {{ client.client_testimonial_job_title }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- END Client Section 3A -->