<style>
  .footer-big-contacts {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .footer-big-contacts span {
    display: block;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 2px;
  }

  .dark .footer-big-contacts { color: rgba(255,255,255,0.8); }

  #footer ul.lead li a {
    font-size: .75em;
    line-height: 1em;
    font-weight: 400;
    text-transform: uppercase;
  }
</style>

<!-- Footer
============================================= -->
<footer id="footer" class="dark notopborder">

  <div class="container">

    <!-- Footer Widgets
    ============================================= -->
    <div class="footer-widgets-wrap clearfix">

      <div class="row clearfix">

        <div class="col-md-6">

          <div class="widget clearfix">
            <div class="row">

              <div class="col-xs-6 widget_links">

                <div class="bottommargin-sm">
                  <div class="row clearfix">

                    <div class="footer-big-contacts">
                      <span>Call Us:</span>
                      (503) 734-0839
                    </div>
                    <div class="visible-sm visible-xs bottommargin-sm"></div>

                    <div class="footer-big-contacts topmargin-sm">
                      <span>Send an Email:</span>
                      kristen@edifyedu.com
                    </div>
                    <div class="visible-xs bottommargin-sm"></div>

                    <div class="clearfix topmargin-sm" data-class-lg="fleft" data-class-md="fright" data-class-sm="fright" data-class-xs="" data-class-xxs="">

                      <a href="https://twitter.com/edifyedu/" class="social-icon si-small si-light si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                      </a>

                      <a href="https://www.linkedin.com/in/kristenmg/" class="social-icon si-small si-light si-linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                      </a>

                      <a href="https://www.pinterest.com/edifyedu/" class="social-icon si-small si-light si-pinterest">
                        <i class="icon-pinterest"></i>
                        <i class="icon-pinterest"></i>
                      </a>

                    </div>
                  </div>
                </div>
                <!-- <div class="line clearfix"></div> -->
              </div>

              <div class="col-xs-4 col-xs-offset-1 widget_links">
                <ul class="lead">
                  <li><a href="/index">Home</a></li>
                  <li><a href="/process">Process</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="visible-sm bottommargin-sm"></div>

        </div>

        <div class="visible-sm visible-xs line"></div>

        <div class="col-md-6">

          <div class="widget subscribe-widget clearfix">
            <h4 style="font-size: 1.5em; margin-bottom: 10px;">Edify Newsletter</h4>
            <p style="font-size: 1.5em; font-weight: 300;">Get the latest about onboarding, time to productivity, and people operations!</p>
            <div class="widget-subscribe-form-result"></div>
            <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
              <div style="margin-bottom: -10px;">
                <div class="row">
                  <div class="col-sm-9" style="margin-bottom:10px;">
                    <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control not-dark required email" placeholder="Enter your Email">
                  </div>
                  <div class="col-sm-3" style="margin-bottom: 0px;padding-left: 0px;">
                    <button class="button" type="submit" style="height: 35px; line-height: 36px; margin-top: 0px;">Subscribe</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>

    </div><!-- .footer-widgets-wrap end -->

  </div>

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container center uppercase clearfix">

      Copyrights &copy; 2017 All Rights Reserved by Edify.

    </div>

  </div><!-- #copyrights end -->

</footer>
<!-- #footer end -->