<style>
  .footer-big-contacts {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .footer-big-contacts span {
    display: block;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 2px;
  }

  .dark .footer-big-contacts { color: rgba(255,255,255,0.8); }

  #footer ul.lead li a {
    font-size: .75em;
    line-height: 1em;
    font-weight: 400;
    text-transform: uppercase;
  }
</style>

<!-- Footer
============================================= -->
<footer id="footer" class="dark notopborder">

  <div class="container">

    <!-- Footer Widgets
    ============================================= -->
    <div class="footer-widgets-wrap clearfix">

      <div class="row clearfix">

        <div class="col-md-6">

          <div class="widget clearfix">
            <div class="row">

              <div class="col-xs-6 widget_links">

                <div class="bottommargin-sm">
                  <div class="row clearfix">

                    <div class="footer-big-contacts">
                      <span>Call Us:</span>
                      {{ site.data.kristens_info.phone }}
                    </div>
                    <div class="visible-sm visible-xs bottommargin-sm"></div>

                    <div class="footer-big-contacts topmargin-sm">
                      <span>Send an Email:</span>
                      {{ site.data.kristens_info.email }}
                    </div>
                    <div class="visible-xs bottommargin-sm"></div>

                    <div class="clearfix topmargin-sm" data-class-lg="fleft" data-class-md="fright" data-class-sm="fright" data-class-xs="" data-class-xxs="">

                      <a href="{{ site.data.kristens_info.twitter }}" class="social-icon si-small si-light si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                      </a>

                      <a href="{{ site.data.kristens_info.linkedin }}" class="social-icon si-small si-light si-linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                      </a>

                      <a href="{{ site.data.kristens_info.pinterest }}" class="social-icon si-small si-light si-pinterest">
                        <i class="icon-pinterest"></i>
                        <i class="icon-pinterest"></i>
                      </a>

                    </div>
                  </div>
                </div>
                <!-- <div class="line clearfix"></div> -->
              </div>

              <div class="col-xs-4 col-xs-offset-1 widget_links">
                <ul class="lead">
                  <li><a href="/index">Home</a></li>
                  <li><a href="/process">Process</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="visible-sm bottommargin-sm"></div>

        </div>

        <div class="visible-sm visible-xs line"></div>

        <div class="col-md-6">

          {% if page.url != "/contact.html" %}
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="//edifyedu.us8.list-manage.com/subscribe/post?u=adcd41d2f3227baeb65cced0a&amp;id=9037589678" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div class="mc-field-group col-md-9" style="padding-left: 0px;">
                  <label for="mce-EMAIL">Email Address </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true">
                </div>

                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_adcd41d2f3227baeb65cced0a_9037589678" tabindex="-1" value="">
                </div>
                <div class="col-md-3">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-blue" style="margin-top: 30px; font-size: 12px; line-height:35px;">
                </div>
                <div class="clearfix"></div>
                <div id="mce-responses">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
              </div>
            </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
          {% endif %}

        </div>

      </div>

    </div><!-- .footer-widgets-wrap end -->

  </div>

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container center uppercase clearfix">

      Copyrights &copy; 2017 All Rights Reserved by <a href="http://edify-staging.herokuapp.com">Edify</a>.

    </div>

  </div><!-- #copyrights end -->

</footer>
<!-- #footer end -->
