<section id="slider" class="slider-parallax swiper_wrapper clearfix">

  <div class="slider-parallax-inner">

    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <div class="swiper-slide dark" style="background-image: url('/img/site-images/home-page-banner.jpg');">
          <div class="slider-overlay"></div>
          <div class="container clearfix">
            <div class="slider-caption slider-caption-center">
              <h2 data-caption-animate="fadeInUp" class="hidden-xs" style="line-height: 1.5em; text-shadow: 1px 1px 1px rgba(0,0,0,0.15);">{{ site.data.headers.home_page_banner_header }}</h2>
              <h2 class="visible-xs" style="line-height: 1.75em; font-size: 20px; text-shadow: 1px 1px 1px rgba(0,0,0,0.15);">{{ site.data.headers.home_page_banner_header }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>