<!-- <section id="slider" class="slider-parallax full-screen">
  <div class="slider-parallax-inner">

    <div class="full-screen" style="background: url('/img/HomePageBanner.jpg'); background-size: cover;">
      <div class="container clearfix">

        <img src="/img/appshowcase/slider-iphone.png" alt="Image" class="hidden-sm hidden-xs" style="position: absolute; left: 0; bottom: 0;" data-height-md="450">

        <div class="vertical-middle no-fade">
          <div class="col-md-6 dark fright nobottommargin" data-animate="fadeIn">

            <div class="emphasis-title">
              <h1>Take the growing pains out of scaling your startup!</h1>
            </div>

            <div class="hidden-xs">
              <a href="#" class="button button-desc button-border button-light button-rounded nomargin"><i class="icon-apple"></i><div>Start your Free Trial<span>30-Days &amp; No Credit card Required</span></div></a>
            </div>

            <div class="visible-xs">
              <a href="#" class="button button-light button-xlarge button-rounded nomargin"><i class="icon-apple"></i>Start Free Trial</a>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>
 -->

<section id="slider" class="slider-parallax swiper_wrapper clearfix">

  <div class="slider-parallax-inner">

    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <div class="swiper-slide dark" style="background-image: url('/img/HomePageBanner.jpg');">
          <div class="slider-overlay"></div>
          <div class="container clearfix">
            <div class="slider-caption slider-caption-center">
              <h2 data-caption-animate="fadeInUp">Take the growing pains out of scaling your startup!</h2>
              <p data-caption-animate="fadeInUp" data-caption-delay="200">
                Edify is a learning & development consultancy that removes the pain of people operations with stellar onboarding, manager development, and knowledge management.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide" style="background-image: url('/img/HomePageBanner.jpg'); background-position: center top;">
          <div class="container clearfix">
            <div class="slider-caption slider-caption-right">
              <h2 data-caption-animate="fadeInUp">Take the growing pains out of scaling your startup!</h2>
              <p data-caption-animate="fadeInUp" data-caption-delay="200">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
      <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
      <div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
    </div>

  </div>

</section>