
<!-- START Services section -->
<div class="section nobg notopmargin" id="services">
  <div class="container clearfix">
    <div class="heading-block center">
      <h2>{{ site.data.headers.home_page_services_header }}</h2>
      <span style="max-width: 700px;">{{ site.data.headers.home_page_services_sub_header}}</span>
    </div>
    <div class="col_one_third">
      <div class="heading-block fancy-title nobottomborder title-bottom-border">
        <h4>{{ site.data.services.service_one }}</h4>
      </div>
      <p class="services-text">
        {{ site.data.services.service_one_text }}
      </p>
    </div>

    <div class="col_one_third">
      <div class="heading-block fancy-title nobottomborder title-bottom-border">
        <h4>{{ site.data.services.service_two }}</h4>
      </div>
      <p class="services-text">
        {{ site.data.services.service_two_text }}
      </p>
    </div>

    <div class="col_one_third col_last">
      <div class="heading-block fancy-title nobottomborder title-bottom-border">
        <h4>{{ site.data.services.service_three }}</h4>
      </div>
      <p class="services-text">
        {{ site.data.services.service_three_text }}
      </p>
    </div>

    <div class="clear"></div>

    <div style="margin-left: 42%; margin-right: 42%; margin-top:0px; border-radius: 50%;">
      <a href="/process" class="button button-light">Learn More  <i class="icon-line-arrow-right"></i></a>
    </div>

  </div>
</div>
  <!-- END Services section -->

<div class="clear"></div>

