
<!-- START Services section -->
<div class="section nobg notopmargin" id="services">
  <div class="container clearfix">
    <div class="heading-block center">
      <h2>What can Edify do for you?</h2>
      <span style="max-width: 700px;">Edify is a learning strategy firm that removes the employee development challenges from scaling your startup.</span>
    </div>
    <div class="col_one_third">
      <div class="heading-block fancy-title nobottomborder title-bottom-border">
        <h4>Onboarding</h4>
      </div>
      <p class="services-text">
        Onboarding that scales with you and cuts time to productivity in half.
      </p>
    </div>

    <div class="col_one_third">
      <div class="heading-block fancy-title nobottomborder title-bottom-border">
        <h4>Managers</h4>
      </div>
      <p class="services-text">
        Technical managers who aren’t just technical: Invest in helping managers be better people leaders.
      </p>
    </div>

    <div class="col_one_third col_last">
      <div class="heading-block fancy-title nobottomborder title-bottom-border">
        <h4>Knowledge</h4>
      </div>
      <p class="services-text">
        Remove barriers to getting ramped up by untangling your knowledge management ecosystem.
      </p>
    </div>

    <div class="clear"></div>

    <div style="margin-left: 42%; margin-right: 42%; margin-top:0px; border-radius: 50%;">
      <a href="/process" class="button button-light">Learn More  <i class="icon-line-arrow-right"></i></a>
    </div>

  </div>
</div>
  <!-- END Services section -->

<div class="clear"></div>

