<!-- Sidebar
============================================= -->
<div class="sidebar nobottommargin col_last clearfix">
  <div class="sidebar-widgets-wrap" style="padding-left: 25px;">

    <div class="widget clearfix">

      <h4>Recent Posts</h4>
      <div id="post-list-footer">

        {% for post in site.posts limit:3 %}
          <div class="spost clearfix">
            <div class="entry-image">
              <a href="{{ post.url }}" class="nobg"><img src="/img/blog/{{post.image_thumb }}" alt=""></a>
            </div>
            <div class="entry-c">
              <div class="entry-title">
                <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
              </div>
              <ul class="entry-meta">
                <li>{{ post.date | date_to_string }}</li>
              </ul>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>

    <!-- Post Categories -->
    <div class="widget clearfix">
      <h4>Category Lists</h4>
      <div id="category-list-sidebar">
        <div class="spost clearfix">
          <ul class="entry-meta2 iconlist">
          {% for category in site.categories %}

            <li style="margin-bottom: 10px;">
              <div class="entry-title">
                <h4><span><i class="icon-folder-close-alt"></i></span> <a href="#">{{ category[0] }}</a></h4>
              </div>
              <ul>
                {% for post in category[1] %}
                  <li><a href="{{ post.url }}"><span><i class="icon-folder-open-alt"></i></span> {{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </li>

          {% endfor %}

          </ul>
        </div>
      </div>
    </div>

  </div>
</div><!-- .sidebar end -->
