<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="stretched no-transition">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

      {% include header.html %}
      {% include breadcrumb.html %}

      <section id="content">


        {{ content }}

      </section><!-- #content end -->

      {% include footer.html %}

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="/js/functions.js"></script>


    {% if page.url contains "/admin" %}
      <script type="text/javascript" src="/js/copytoclipboard.js"></script>
    {% else %}

    {% endif %}

    <script type="text/javascript" src="/js/custom.js"></script>

   </body>
 </html>
