---
layout: home-layout
---

{{ content }}



<!-- START Client Section 3A -->
<div class="section nobottommargin nobg" style="padding-bottom: 150px;">
  <div class="container clearfix">

    <div class="heading-block">
      <h2>Our Clients</h2>
      <span>These are the companies we have worked with.</span>
    </div>

    <div class="col-md-7 nobottommargin">

      <ul class="clients-grid grid-2 nobottommargin clearfix">
        <li><a href="#"><img src="/img/retailmakr.png" alt="Clients"></a></li>
        <li><a href="#"><img src="/img/switchboard_wordmark.png" alt="Clients"></a></li>
        <li><a href="#"><img src="/img/elemental-logo.png" alt="Clients"></a></li>
        <li><a href="#"><img src="/img/clients/4.png" alt="Clients"></a></li>
        <li><a href="#"><img src="/img/clients/3.png" alt="Clients"></a></li>
        <li><a href="#"><img src="/img/clients/2.png" alt="Clients"></a></li>
      </ul>

    </div>

    <div class="col-md-5 nobottommargin">

      <div class="fslider testimonial" data-animation="fade" data-arrows="false">
        <div class="flexslider">
          <div class="slider-wrap">
            <div class="slide">
              <div class="testi-content">
                <blockquote class="quote">
                  <p>
                    We've been able to begin to add the meat to the structure that our meetings produced. We're implementing much needed workflows and policies that will help Retailmakr to hire well, perform well, and terminate well. Kristen is knowledgeable, respectable, and a very good listener. These things, coupled with being able to facilitate discussion and keep moving forward helped us stay on target to completing what we set out to do. At our first meeting, I was afraid of a cookie-cutter approach. It didn't take very long for me to realize that the fear was not founded.
                  </p>
                </blockquote>
                <div class="testi-meta">
                  Retailmakr
                  <!-- <span>Retailmakr</span> -->
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="testi-content">
                <blockquote class="quote">
                  <p>
                    Kristen has changed the way I think not only about employee onboarding, but about building a company. I'm more mindful about creating a healthy culture where everyone grows and thrives, and co-creating that plan with our team. Companies can't succeed without strong, capable, empowered, successful teams. And successful teams cannot be built without a champion there to create that path to success. Kristen is that champion.
                  </p>
                </blockquote>
                <div class="testi-meta">
                  Switchboard
                  <!-- <span>company</span> -->
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="testi-content">
                <blockquote class="quote">
                  <p>
                    Kristen developed an amazing onboarding program for us in a time of intense change, led initiatives for learning & development in every department, and architected a knowledge management system that informed how delivered key information to employees.
                  </p>
                </blockquote>
                <div class="testi-meta">
                  Human Resources Leader
                  <span>Elemental</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- END Client Section 3A -->