<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

      {% include header.html %}

      {% include homebanner.html %}

      <section id="content">
        <div class="content-wrap" style="padding-top: 0px;">


          {{ content }}

        </div>
      </section><!-- #content end -->

      {% include footer.html %}

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.js">\x3C/script>')</script>
    <script type="text/javascript" src="/js/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="/js/functions.js"></script>
    <script type="text/javascript" src="/js/copytoclipboard.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>


   </body>
 </html>
