---
layout: blog-page-layout
---

<div class="content-wrap">

  <div class="container clearfix">

    <!-- Post Content
    ============================================= -->

    <div class="single-post nobottommargin">

      <!-- Single Post
      ============================================= -->
      <div class="entry clearfix">

        <!-- Entry Title
        ============================================= -->
        <div class="entry-title">
          <h2>{{ page.title }}</h2>
        </div><!-- .entry-title end -->

        <!-- Entry Meta
        ============================================= -->
        <ul class="entry-meta clearfix">
          <li><i class="icon-calendar3"></i>{{ page.date }}</li>
          <li><i class="icon-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a></li>
        </ul><!-- .entry-meta end -->

        <!-- Entry Image
        ============================================= -->
        <div class="entry-image entry-image-{{ page.width }}-width">
          <a href="#"><img src="/img/{{ page.image }}" alt="{{ page.image_alt }}"></a>
        </div><!-- .entry-image end -->

        <!-- Entry Content
        ============================================= -->
        <div class="entry-content notopmargin">

          {{ content }}
          <!-- Post Single - Content End -->

          <!-- Tag Cloud
          ============================================= -->
          <div class="tagcloud clearfix bottommargin">
            <a href="#">general</a>
            <a href="#">information</a>
            <a href="#">media</a>
            <a href="#">press</a>
            <a href="#">gallery</a>
            <a href="#">illustration</a>
          </div><!-- .tagcloud end -->

          <div class="clear"></div>

          <!-- Post Single - Share
          ============================================= -->
          <div class="si-share noborder clearfix">
            <span>Share this Post:</span>
            <div>
              <a href="#" class="social-icon si-borderless si-facebook">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-rss">
                <i class="icon-rss"></i>
                <i class="icon-rss"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-email3">
                <i class="icon-email3"></i>
                <i class="icon-email3"></i>
              </a>
            </div>
          </div><!-- Post Single - Share End -->

        </div>

      </div>
      <!-- .entry end -->


      <!-- Post Author Info
      ============================================= -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Posted by <span><a href="#">Kristen Gallagher</a></span></h3>
        </div>
        <div class="panel-body">
          <div class="author-image">
            <img src="/img/thumb1.jpg" alt="" class="img-circle">
          </div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet, eligendi et nobis neque minus mollitia sit repudiandae ad repellendus recusandae blanditiis praesentium vitae ab sint earum voluptate velit beatae alias fugit accusantium laboriosam nisi reiciendis deleniti tenetur molestiae maxime id quaerat consequatur fugiat aliquam laborum nam aliquid. Consectetur, perferendis?
        </div>
      </div><!-- Post Single - Author End -->

      <div class="line"></div>

    </div>
    <!-- .postcontent end -->


  </div>
</div>