---
layout: page-layout
---


<div class="content-wrap">

  <div class="container clearfix">

    <!-- Post Content
    ============================================= -->

    <div class="single-post nobottommargin">

      <!-- Single Post
      ============================================= -->
      <div class="entry clearfix">

        <!-- Entry Title
        ============================================= -->
        <div class="entry-title">
          <h1>{{ page.title }}</h1>
        </div><!-- .entry-title end -->

        <!-- Entry Meta
        ============================================= -->
        <ul class="entry-meta clearfix">
          <li><i class="icon-calendar3"></i>{{ page.date | date_to_string }}</li>
          {% if page.categories[0] %}
          <li><i class="icon-folder-open"></i><a href="/category/{{ page.categories | first | slugify }}">{{ page.categories | first }}</a></li>
          {% endif %}
        </ul><!-- .entry-meta end -->



        <!-- Entry Content
        ============================================= -->
        <div class="entry-content entry-image-{{ page.width }}-width entry-image notopmargin">
          <!-- <img src="/img/{{ page.image }}" alt="{{ page.image_alt }}"> -->


          {{ content }}

          <!-- Post Single - Content End -->

          <div class="clear"></div>

          <!-- Post Single - Share
          ============================================= -->
          <div class="si-share noborder clearfix fleft">
            <span>Share this Post:</span>
            <div>
              <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title | truncate:190 | uri_escape }}&summary={{ page.short_description | truncate:250 | uri_escape }}&source=LinkedIn" target="_blank" class="social-icon si-borderless si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
              <a href="https://twitter.com/intent/tweet?text=Loved%20this%20post%20by%20Edify%21%20{{ page.title | truncate:40 | uri_escape }}%20{{ page.url | absolute_url }}" data-size="large" target="_blank" class="social-icon si-borderless si-twitter twitter-share-button">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>
              <a data-pin-do="buttonPin" data-pin-round="true" data-pin-save="false" href="https://www.pinterest.com/pin/create/button/?url={{ site.url }}/img/{{ page.image }}&media={{ site.url }}/img/{{ page.image }}&description={{ page.short_description | uri_escape }}" target="_blank" class="social-icon si-borderless si-pinterest">
                <i class="icon-pinterest"></i>
                <i class="icon-pinterest"></i>
              </a>
              <a href="{{site.url}}/feed.xml" target="_blank" class="social-icon si-borderless si-rss">
                <i class="icon-rss"></i>
                <i class="icon-rss"></i>
              </a>
              <a href="mailto:{{site.data.kristens_info.email}}?subject=Edify%20Blog%20Post%3A{{ page.title | uri_escape }}&body={{ page.short_description | uri_escape }}%20visit:{{ site.url }}/{{page.url}}" title="Share by Email" target="_blank" class="social-icon si-borderless si-email3">
                <i class="icon-email3"></i>
                <i class="icon-email3"></i>
              </a>
            </div>
          </div><!-- Post Single - Share End -->

        </div>

      </div>
      <!-- .entry end -->

      <!-- Post Author Info
      ============================================= -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Posted by <span>{{ site.data.kristens_info.name }}</span></h3>
        </div>
        <div class="panel-body">
          <div class="col-md-4 col-sm-4">
            <img  class="blog-bio" src="/img/site-images/{{ site.data.kristens_info.image_md }}" alt="{{ site.data.kristens_info.image_alt }}">
          </div>
          <div class="col-md-8 col-sm-8">
            {% include kristen_full_bio.html %}
          </div>
        </div>
      </div><!-- Post Single - Author End -->

      <div class="line"></div>

    </div>
    <!-- .postcontent end -->


  </div>
</div>
