---
layout: category-page-layout
title: "Instructional Design"
tagline: 'Instructional Design with Edify'
---

<div class="content-wrap">

  <div class="container clearfix">

    <!-- Post Content
    ============================================= -->
    <div class="postcontent nobottommargin clearfix">

      <div id="posts" class="small-thumbs alt">

        {% for post in site.posts %}
          {% if post.category == page.title %}
          <div class="entry clearfix">
            <div class="entry-image">
              <a href="/img/{{post.image_thumb }}" data-lightbox="image">
                {% if post.image and post.image != "" %}
                  <img class="image_fade" src="/img/blog/{{post.image_thumb }}" alt="{{ post.image_thumb_alt }}">
                {% else %}
                  <!-- put something else here if no image -->
                {% endif %}
              </a>
            </div>
            <div class="entry-c">
              <div class="entry-title">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i>{{ post.date | date_to_string }}</li>
                <li><i class="icon-folder-close-alt"></i><a href="#">{{ post.categories }}</a> </li>
                <!-- <li><i class="icon-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a></li> -->
              </ul>
              <div class="entry-content">
                <p>{{ post.short_description }}</p>
                <a href="{{ post.url }}"class="more-link">Read More<i class="icon-line-arrow-right" style="padding-left: 3px;"></i></a>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}


      </div><!-- #posts end -->

      <!-- <div class="center">
        <ul class="pagination pagination-lg">
          <li><a href="#">«</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div> -->


    </div><!-- .postcontent end -->

    {% include sidebar.html %}

  </div>

</div>